.main{
    
    background-color: darksalmon;
    border: 1px ;
    border-radius: 2px black;
    text-align: center;
    margin: 50px;
    
    
}
.box{
    
    border: 1px;
    border-radius: 2px;
    
    background-color: dimgrey;
    font-family: sans-serif;
    box-shadow: 0px 5px 5px 0px whitesmoke ;
    align-items: center;
    text-align: start;
    margin-left: 10px;
    transform-origin: left;
 
}
.box:hover{
 transform: translateX(20px);
 transition-timing-function: ease-in-out;
 transition-duration: 1.5s;
 
}
   
